---
layout: post
title: 3D
description: >-
  3D Models and Renders
image: /assets/img/portfolio/renders/Rolex_fixed.webp
sitemap: false
categories: portfolio
images:
  - image_path: /assets/img/portfolio/renders/rolex_fixed2.webp
    title: Rolex Daytona render
    size: full
  - image_path: /assets/img/portfolio/renders/rolex_horizontal.webp
    title: Rolex Daytona render
    size: full
  - image_path: /assets/img/portfolio/renders/MO_Mark_2.png
    title: MO (Wall-E) Render for 3D Print
    size: half
  - image_path: /assets/img/portfolio/3D-prints/MO_3d_print.jpg
    title: MO (Wall-E) 3D Print
    size: half
  - image_path: /assets/img/portfolio/renders/Q400_3d_model_comp.png
    title: Q400 3D Render
    size: half
  - image_path: /assets/img/portfolio/3D-prints/Q400_3d_print.jpeg
    title: Q400 3D Model
    size: half
  - image_path: /assets/img/portfolio/In-the-dark/In-the-dark-wall-walking.mp4
    title: Test
    size: video
---

<ul class="photo-gallery">
  {% for image in page.images %}
  {% if image.size == "half" %}
    <li class="half">
      <a href="{{ image.image_path }}" id="port_image">
        <img src="{{ image.image_path }}" alt="{{ image.title}}"/>
      </a>
      <p>{{image.title}}</p>
    </li>
  {% elsif image.size == "full" %}
    <li class="full">
      <a href="{{ image.image_path }}" id="port_image">
        <img src="{{ image.image_path }}" alt="{{ image.title}}"/>
      </a>
      <p>{{image.title}}</p>
    </li>
    {% elsif image.size == "video" %}
      <li class="full">
        <a href="{{ image.image_path }}" id="port_image">
          <video autoplay="autoplay" loop="loop">
            <source src="{{ image.image_path }}" type="video/mp4" />
          </video>
        </a>
        <p>{{image.title}}</p>
      </li>
  {% endif %}
  {% endfor %}
</ul>
<iframe src="https://clara.io/embed/4e4de566-2bfc-4225-b290-c8fba243ac7e?renderer=webgl" width="100%" height="480px" allowfullscreen></iframe>
