---
layout: post
title: Shaders
description: >-
  Shaders created in Unity
image: /assets/img/portfolio/In-the-dark/shader.jpg
sitemap: false
categories: portfolio
images:
  - image_path: /assets/img/portfolio/In-the-dark/shader.mp4
    title: Teleport shader
    size: video
  - image_path: /assets/img/portfolio/In-the-dark/emp.mp4
    title: EMP shader
    size: video
---

<ul class="photo-gallery">
  {% for image in page.images %}
  {% if image.size == "half" %}
    <li class="half">
      <a href="{{ image.image_path }}" id="port_image">
        <img src="{{ image.image_path }}" alt="{{ image.title}}"/>
      </a>
      <p>{{image.title}}</p>
    </li>
  {% elsif image.size == "full" %}
    <li class="full">
      <a href="{{ image.image_path }}" id="port_image">
        <img src="{{ image.image_path }}" alt="{{ image.title}}"/>
      </a>
      <p>{{image.title}}</p>
    </li>
    {% elsif image.size == "video" %}
      <li class="full">
        <a href="{{ image.image_path }}" id="port_image">
          <video autoplay="autoplay" loop="loop">
            <source src="{{ image.image_path }}" type="video/mp4" />
          <!-- <img src="{{ image.image_path }}" alt="{{ image.title}}"/> -->
          </video>
        </a>
        <p>{{image.title}}</p>
      </li>
  {% endif %}
  {% endfor %}
</ul>
